a.button:hover {
    color: $white;
    text-decoration: none;
}
.button {
    background-color: rgba($gray, 0.8);
	box-shadow: inset 0px -3px 0px 0px $black-5;
    border-radius: $border-radius-sm;
    border: none;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    padding: .75rem 1.375rem;
    position: relative;
    text-transform: uppercase;

    &:hover {
        opacity: 0.8;
    }
}
.button-small {
    font-size: 0.75rem;
    padding: .375rem 1em;
}
.button-large {
    font-size: 0.938rem;
    padding: 1.125rem 2rem;
}
.button-success {
	background-color: rgba($green, 0.8);
}
.button-danger {
	background-color: rgba($danger, 0.8);
}
.button-warning {
	background-color: rgba($warning, 0.8);
	color: $gray-dark;
}
.button-info {
	background-color: #8e2167;
}

.button-outline {
    background-color: $white;
    border: 1px solid rgba($gray, 0.8);
    box-shadow: none;
    color: rgba($gray, 0.8);

    &:hover {
        background-color: rgba($gray, 0.8);
        border-color: transparent;
        color: $white;
        opacity: 1;
        box-shadow: none;
    }
}
.button-outline-success {
    background-color: $white;
    border: 1px solid $success;
    box-shadow: none;
    color: $success;

    &:hover {
        background-color: $success;
        border-color: transparent;
        color: $white;
        opacity: 1;
        box-shadow: none;
    }
}
.button-outline-danger {
    background-color: $white;
    border: 1px solid $danger;
    box-shadow: none;
    color: $danger;

    &:hover {
        background-color: $danger;
        border-color: transparent;
        color: $white;
        opacity: 1;
        box-shadow: none;
    }
}
.button-outline-warning {
    background-color: $white;
    border: 1px solid $warning;
    box-shadow: none;
    color: $warning;

    &:hover {
        background-color: $warning;
        border-color: transparent;
        color: $gray-dark;
        opacity: 1;
        box-shadow: none;
    }
}
.button-outline-info {
    background-color: $white;
    border: 1px solid $info;
    box-shadow: none;
    color: $info;

    &:hover {
        background-color: $info;
        border-color: transparent;
        color: $white;
        opacity: 1;
        box-shadow: none;
    }
}


.button-loading {
    padding-left: 50px;

    &:before {
        content: "";
        display: block;
        border: 3px solid $semi-white;
        border-top: 3px solid transparent;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 10%;
        margin-top: calc(-25px / 2);
        top: 50%;
        animation: spin 1.5s linear infinite;
    }
    &.button-small {
        padding-left: 2rem;

        &:before {
            border: 2px solid $semi-white;
            border-top: 2px solid transparent;
            margin-top: calc(-15px / 2);
            width: 15px;
            height: 15px;
        }
    }
}