// default colors
$black:			rgba(0,0,0, 1) !default;
$black-1:		rgba(0,0,0, 0.13) !default;
$black-5:		rgba(0,0,0, 0.5) !default;
$black-8:		rgba(0,0,0, 0.8) !default;
$white:			rgba(255,255,255, 1) !default;
$white-5:		rgba(255,255,255, 0.5) !default;
$semi-white: 	#e9e9e9 !default;
$gray-light: 	#ccc !default;
$gray:			#999 !default;
$gray-dark: 	#333 !default;

// system colors
$green:			#11c483 !default;
$red:			#dc3545 !default;
$yellow:		#ffc107 !default;
$blue:			#007bff !default;
$orange:		#fd7e14 !default;
$success:		$green !default;
$warning:		$yellow !default;
$danger:		$red !default;
$info:			$blue !default;

// astrocentro colors
$purple:		#7a035c !default;
$pink-light:	#fba8a8 !default;