//form 
button, input, optgroup, select, textarea {
	font-family: $font-default;
}
label {
	display: block;
	font-size: 0.875rem;
	margin-bottom: 0.625rem;
}
.button, .input-style {
	border-radius: $border-radius-sm;
}
.label-check {
	display: inline-block;
	margin-bottom: 0;
}
.form-group {
	margin-bottom: 1rem;

	small {
		color: $gray;
		font-size: .75rem;
		display: block;
		margin-top: 0.25rem;
	}
	select {
		height: 49px;

		&.error,
		&.valid {
			background-image: none;
		}
	}
}
.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;

    &>.col,
    &>[class*=col-] {
	    padding-right: 5px;
	    padding-left: 5px;
	}
}
.form-group-sm {
	.input-style {
		height: 30px;
		font-size: 0.688rem;
		padding: 6px 40px 6px 8px;
	}
	select {
		font-size: 0.688rem;
		height: 30px;
	}
}
.form-group-lg {
	.input-style {
		font-size: 1.125rem;
		height: 59px;
		padding: 15px 40px 15px 18px;
	}
	select {
		font-size: 1.125rem;
		height: 59px;
	}
}
.form-inline-sm,
.form-inline-md,
.form-inline-lg {
	display: flex;
	padding-bottom: 23px;
	position: relative;

	.input-style {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.text-error {
		position: absolute;
		left: 0;
	}
	.button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-bottom: 0;
	}
}
.form-inline-sm {
	.text-error {
		top: 30px;
	}
}
.form-inline-md {
	.text-error {
		top: 49px;
	}
}
.form-inline-lg {
	.text-error {
		top: 59px;
	}
}

.form-check {
	position: relative;
    display: block;
    padding-left: 1.25rem;
}
.form-check-inline {
	align-items: center;
	display: inline-flex;
	margin-right: .75rem;
	padding-left: 0;

	.input-check {
		position: static;
	    margin-top: 0;
	    margin-right: .3125rem;
	    margin-left: 0;
	}
}
.input-check {
	position: absolute;
	margin-top: .2rem;
	margin-left: -1.25rem;

	&:disabled + .label-check {
		color: $black-5;
	}
	&.error + .label-check {
		color: $danger !important;
	}
}
.input-style {
	border: 1px solid $gray-light;
	box-shadow: 0px 1px 8px 0px $gray-light;
	font-size: 14px;
	height: 49px;
	padding: 13px 40px 13px 12px;
	width: 100%;

	@include media-breakpoint-up(sm) {
		padding: 13px 12px;
	}
	&.error {
		@extend .icon-svg-input;
		background-image: url("checked-red.svg");
		border-color: $red;
	}
	&.valid {
		@extend .icon-svg-input;
		background-image: url("checked-green.svg");
		border-color: $green;
	}
	&:focus {
		background-color: $white;
		border-color: rgba($blue, .45);
		outline: 0;
		box-shadow: 0 0 0 0.1rem rgba($blue,.25)
	}
}

.input-style,
.input-check {
	& ~ .error,
	& ~ .text-error,
	& ~ .text-valid {
		font-size: .750rem;
		padding: 5px 4px 0;
	}
	& ~ .error {
		@extend .text-error;
	}
}

.custom-checkbox {
	position: relative;

	.input-check-custom {
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:checked ~ .label-check-custom {
			&:after {
				background-image: url("checked-green.svg");
			}
		}
	}
	.label-check-custom {

		&:before {
			border: 1px solid $gray;
			position: absolute;
			top: .1rem;
			left: 0;
			display: block;
			width: 1rem;
			height: 1rem;
			pointer-events: none;
			content: "";
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-color: $semi-white;
		}
		&:after {
			position: absolute;
			top: .1rem;
			left: 0;
			display: block;
			width: 1rem;
			height: 1rem;
			content: "";
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 80% 80%;
		}
	}
}
.custom-checkbox-bg {
	.input-check-custom {

		&:checked ~ .label-check-custom {
			&:before {
				background-color: $blue;
				border-color: transparent;
			}
			&:after {
				background-image: url("checked-white.svg");
			}
		}
	}
}

.custom-radio {
	position: relative;

	.input-check-custom {
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:checked ~ .label-check-custom {
			&:before {
				box-shadow: inset 0 0 0 5px $gray;
			}
		}
	}
	.label-check-custom {

		&:before {
			border-radius: 50%;
			box-shadow: inset 0 0 0 1px $gray;
			position: absolute;
			top: .1rem;
			left: 0;
			display: block;
			width: 1rem;
			height: 1rem;
			pointer-events: none;
			content: "";
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-color: $semi-white;
		}
		&:after {
			position: absolute;
			top: .1rem;
			left: 0;
			display: block;
			width: 1rem;
			height: 1rem;
			content: "";
		}
	}
}

.custom-radio-bg {
	.input-check-custom {

		&:checked ~ .label-check-custom {
			&:before {
				box-shadow: inset 0 0 0 5px $blue;
			}
		}
	}
}