.table-responsive {

	display: flex;
    flex-direction: column;

    .table-head {
    	.table-cell {
    		font-weight: 700;
    	}
    }
    .table-row {

		@include media-breakpoint-up(sm) {
		    align-items: center;
		    display: flex;
		    flex-direction: row;
		    justify-content: space-around;
		}
    }
    .table-body .table-row,
    .table-footer .table-row {
    	border-top: 1px solid $black-1;
    }
    .table-cell {
    	font-size: .75rem;
    	line-height: 1.8rem;

		@include media-breakpoint-up(sm) {
	    	font-size: 1rem;
	    	line-height: 2.5rem;
	    	width: 10%;
		}
    }
    .table-cell-sub {
    	padding-left: 1.875rem;
    	padding-right: 1.875rem;
    	width: 100%;
    }
    &.table-striped {
    	.table-body .table-row:nth-child(odd) {
			background-color: $black-1;
		}
    }
}
.table {
	display: none;

	@include media-breakpoint-up(sm) {
		display: table;
		width: 100%;

		tbody {
			line-height: 3;
		}
		tbody tr,
		tfoot tr {
			border-top: 1px solid $black-1;
		}
	}
}

.table,
.table-responsive {

	&.table-small {
		.table-cell, tbody td {
			font-size: .875rem;
			line-height: 2;
		}
	}
}