// Support Text
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.text-justify {
	text-align: justify !important;
}
.text-lowercase {
	text-transform: lowercase !important;
}
.text-uppercase {
	text-transform: uppercase !important;
}
.text-muted {
	color: $gray !important;
}
.text-black-50 {
	color: $black-5 !important;
}
.text-white-50 {
	color: $white-5 !important;
}

.text-error {
	color: $danger !important;
}
.text-valid {
	color: $success !important;
}

.font-light {
	font-weight: 300;
}
.font-light-italic {
	font-style: italic;
	font-weight: 300;
}
.font-regular {
	font-weight: 400;
}
.font-semi-bold {
	font-weight: 500;
}
.font-bold {
	font-weight: 700;
}

// Support Colors
.purple {
	color: $purple;
}
.text-pink-light {
	color: $pink-light;
}
.bg-pink-light {
	background-color: $pink-light;
}

//
.close {
	background-image: url("close-gray.svg");
	background-repeat: no-repeat;
	color: $black-5;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	line-height: 1;
	height: 12px;
	width: 12px;

	&:hover {
		background-image: url("close-black.svg");
	}
}