// Grid columns
$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;

// Components
$line-height-lg:            1.5 !default;
$line-height-sm:            1.5 !default;

$border-width:              1px !default;

$border-radius:             .25rem !default;
$border-radius-lg:          .3rem !default;
$border-radius-sm:          .2rem !default;
$border-radius-50:			50% !default;

// Fonts
$font-title:				"Montserrat", sans serfif;
$font-default:				"Montserrat", sans serfif;

$font-family-base:			$font-default;
$font-size-base:			1rem;
$font-weight-base: 			300;
$line-height-base: 			1.5 !default;
$body-color:	   			$gray-dark;
$body-bg: 					$white;

$headings-margin-bottom:	1rem;
$paragraph-margin-bottom:	1rem;

// Links
$link-color:                $blue;
$link-decoration:           none !default;
$link-hover-color:          $blue;
$link-hover-decoration:     underline !default;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;