.box-alert {
	height: 0;
	opacity: 0;
	position: relative;
	
	&.show {
		height: auto;
		opacity: 1;
	}
}
[class^="alert-"] {
	background-color: $gray-light;
	border-style: solid;
	border-width: 1px;
	border-color: rgba($gray-dark, 0.1);
    border-radius: $border-radius-sm;
	color: $black-5;
    font-family: $font-title;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    padding: 1rem 1.25rem;

    p {
    	margin: 0;
    }
    .close {
    	float: right;
    	opacity: .5;
    }
}
.alert-success {
	background-color: rgba($green, 0.3);
	border-color: rgba($green, 0.1);
}
.alert-danger {
	background-color: rgba($red, 0.3);
	border-color: rgba($red, 0.1);
}
.alert-info {
	background-color: rgba($blue, 0.3);
	border-color: rgba($blue, 0.1);
}
.alert-warning {
	background-color: rgba($orange, 0.3);
	border-color: rgba($orange, 0.1);
}