@mixin arrow-up($size, $color) {
  width: 0; 
  height: 0;
  display: inline-block;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  
  border-bottom: $size solid $color;
}

@mixin arrow-down($size, $color) {
  width: 0; 
  height: 0;
  display: inline-block;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  
  border-top: $size solid $color;
}

@mixin arrow-right($size, $color) {
  width: 0; 
  height: 0;
  display: inline-block;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  
  border-left: $size solid $color;
}

@mixin arrow-left($size, $color) {
  width: 0; 
  height: 0;
  display: inline-block;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent; 
  
  border-right: $size solid $color; 
}