.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;

    .button &{
    	position: relative;
	    top: -1px;
    }
}

.badge-primary {
	color: $white;
	background-color: $blue;
}
.badge-secondary {
	color: $white;
	background-color: $black-5;
}
.badge-success {
	color: $white;
	background-color: $success;
}
.badge-warning {
	color: $black;
	background-color: $warning;
}
.badge-danger {
	color: $white;
	background-color: $danger;
}
.badge-info {
	color: $white;
	background-color: $info;
}
.badge-dark {
	color: $white;
	background-color: $black;
}
.badge-light {
	color: $black;
	background-color: $white;
}