.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
}
.breadcrumb-item {
	&.active {
		color: $gray;
	}
	& + .breadcrumb-item {
		padding-left: 0.5rem;

		&:before {
			display: inline-block;
			padding-right: .5rem;
			color: $black-5;
			content: "/";
		}
	}
}