.modal {
    background-color: $black-5;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;

    &.show-modal {
        display: block;
    }
}
.modal-fixed {
    align-items: center;
    background-color: transparent;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    position: relative;

    .modal-title {
        margin-bottom: 1.5rem;
    }
    .modal-content {
        border: none;
        padding: 2rem;
        
        @media (min-width: $sm) {
            border: 1px solid $black-1;
            box-shadow: 0px 2px 2px 0px $black-1, 0 1px 5px 0px $black-1;
            display: block;
            margin: 0 auto;
            width: 450px;
        }
    }
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .6rem;
    pointer-events: none;

    @media (min-width: $sm) {
        max-width: 500px;
        margin: 5rem auto;
    }
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $black-1;
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid $black-1;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-title {
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid $black-1;
}