.pagination {
	display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;

    &.bordered {
    	.page-item:first-child .page-link {
		    margin-left: 0;
		    border-top-left-radius: .25rem;
		    border-bottom-left-radius: .25rem;
		    border-right: none;
		}
		.page-item:last-child .page-link {
			border-top-right-radius: .25rem;
			border-bottom-right-radius: .25rem;
		    // border-left: none;
		}
    }
}
.page-item {

	&.disabled .page-link {
	    color: $gray;
	    pointer-events: none;
	    cursor: auto;
	    background-color: $white;
	    border-color: #dee2e6;
	}
	&.active .page-link {
		// z-index: 1;
		color: $white;
		background-color: $blue;
		border-color: $blue;
	}
	&:first-child .page-link {
		border-right: 2px solid $black-1;
	}
	&:last-child .page-link {
		border-left: 1px solid $black-1;
	}
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $blue;
    background-color: $white;
	
	&:not(:disabled):not(.disabled) {
	    cursor: pointer;
	}
	&:hover {
	    color: $gray;
		text-decoration: none;
		// z-index: 2;
	}
	.bordered &{
		border: 1px solid $black-1;
	}
}
