// Icon svg for input
.icon-svg-input {
	background-repeat: no-repeat;
	background-position-x: calc(100% - 12px);
	background-position-y: 50%;
	background-color: transparent;
	background-size: 1.250em;
}